body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

.App {
    text-align: center;
    padding: 20px;
}

header {
    background: #000080;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
}
